@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);




#header1-2 H1 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 22px;
  text-align: right;
  color: #483303;
}
#header1-2 P {
  color: #fbfbfb;
  font-size: 16px;
}
#footer1-i P {
  color: #dddddd;
  font-size: 12px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-1d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1d .navbar-brand a {
  font-size: 13px;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-1d .nav .link,
#dropdown-menu-1d .dropdown-item {
  font-size: 0.8em;
  color: #483303;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-1d .navbar,
#dropdown-menu-1d .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1d .dropdown-menu a:hover,
#dropdown-menu-1d .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1d .navbar-toggler {
  color: #483303;
}

#ext_menu-l .navbar-toggler {
  color: #000000;
}
#ext_menu-l .navbar-nav .btn {
  font-size: 14px;
}
#ext_menu-l .nav-link {
  font-size: 14px;
}
#footer1-m P {
  color: #dddddd;
  font-size: 12px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

#ext_menu-j .navbar-toggler {
  color: #000000;
}
#ext_menu-j .navbar-nav .btn {
  font-size: 14px;
}
#ext_menu-j .nav-link {
  font-size: 14px;
}
#footer1-k P {
  color: #dddddd;
  font-size: 12px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
#header1-46 P {
  font-size: 14px;
}




#footer1-43 P {
  color: #dddddd;
  font-size: 12px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-44 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-44 .navbar-brand a {
  font-size: 13px;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-44 .nav .link,
#dropdown-menu-44 .dropdown-item {
  font-size: 1em;
  color: #483303;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-44 .navbar,
#dropdown-menu-44 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-44 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-44 .dropdown-menu a:hover,
#dropdown-menu-44 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-44 .navbar-toggler {
  color: #483303;
}
#header1-45 H1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}




#footer1-40 P {
  color: #dddddd;
  font-size: 12px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-41 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-41 .navbar-brand a {
  font-size: 13px;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-41 .nav .link,
#dropdown-menu-41 .dropdown-item {
  font-size: 1em;
  color: #483303;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-41 .navbar,
#dropdown-menu-41 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-41 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-41 .dropdown-menu a:hover,
#dropdown-menu-41 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-41 .navbar-toggler {
  color: #483303;
}
#header1-42 H1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}




#footer1-3x P {
  color: #dddddd;
  font-size: 12px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-3y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3y .navbar-brand a {
  font-size: 13px;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-3y .nav .link,
#dropdown-menu-3y .dropdown-item {
  font-size: 1em;
  color: #483303;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-3y .navbar,
#dropdown-menu-3y .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-3y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3y .dropdown-menu a:hover,
#dropdown-menu-3y .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-3y .navbar-toggler {
  color: #483303;
}
#header1-3z H1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}




#footer1-32 P {
  color: #dddddd;
  font-size: 12px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-33 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-33 .navbar-brand a {
  font-size: 13px;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-33 .nav .link,
#dropdown-menu-33 .dropdown-item {
  font-size: 1em;
  color: #483303;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-33 .navbar,
#dropdown-menu-33 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-33 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-33 .dropdown-menu a:hover,
#dropdown-menu-33 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-33 .navbar-toggler {
  color: #483303;
}
#header1-3w H1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}



#footer1-1n P {
  color: #dddddd;
  font-size: 12px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-1o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1o .navbar-brand a {
  font-size: 13px;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-1o .nav .link,
#dropdown-menu-1o .dropdown-item {
  font-size: 0.8em;
  color: #483303;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-1o .navbar,
#dropdown-menu-1o .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1o .dropdown-menu a:hover,
#dropdown-menu-1o .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1o .navbar-toggler {
  color: #483303;
}
#header1-1x .btn {
  font-size: 16px;
}




#footer1-1s P {
  color: #dddddd;
  font-size: 12px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-1t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1t .navbar-brand a {
  font-size: 13px;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-1t .nav .link,
#dropdown-menu-1t .dropdown-item {
  font-size: 1em;
  color: #483303;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-1t .navbar,
#dropdown-menu-1t .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-1t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1t .dropdown-menu a:hover,
#dropdown-menu-1t .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-1t .navbar-toggler {
  color: #483303;
}
#form1-1u .mbr-section-title {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  color: #0a351a;
  text-align: right;
}
#social-buttons2-2w .mbr-section-title {
  text-align: center;
}




#footer1-26 P {
  color: #dddddd;
  font-size: 12px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-27 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-27 .navbar-brand a {
  font-size: 13px;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-27 .nav .link,
#dropdown-menu-27 .dropdown-item {
  font-size: 0.8em;
  color: #483303;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-27 .navbar,
#dropdown-menu-27 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-27 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-27 .dropdown-menu a:hover,
#dropdown-menu-27 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-27 .navbar-toggler {
  color: #483303;
}
#header1-2q H1 {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}
#header1-2q P {
  font-size: 14px;
}









#header1-2e H1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}
#header1-2e P {
  font-size: 14px;
}
#msg-box4-2g .mbr-section-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  text-align: right;
}
#msg-box4-2g .lead P {
  font-size: 14px;
  text-align: right;
}
#msg-box4-2t .mbr-section-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  text-align: left;
}
#msg-box4-2t .lead P {
  font-size: 14px;
  text-align: left;
}
#msg-box4-2t .btn {
  font-size: 12px;
}
#footer1-2c P {
  color: #dddddd;
  font-size: 12px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2d .navbar-brand a {
  font-size: 13px;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2d .nav .link,
#dropdown-menu-2d .dropdown-item {
  font-size: 1em;
  color: #483303;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2d .navbar,
#dropdown-menu-2d .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2d .dropdown-menu a:hover,
#dropdown-menu-2d .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2d .navbar-toggler {
  color: #483303;
}
#msg-box4-2f .mbr-section-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-align: right;
}
#msg-box4-2f .lead P {
  font-size: 14px;
  text-align: right;
}
#msg-box4-2f .btn {
  font-size: 12px;
}
#msg-box4-2s .mbr-section-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  text-align: left;
}
#msg-box4-2s .lead P {
  font-size: 14px;
  text-align: left;
}
#msg-box4-2s .btn {
  font-size: 12px;
}
#msg-box4-2u .mbr-section-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  text-align: right;
}
#msg-box4-2u .lead P {
  font-size: 14px;
  text-align: right;
}
#msg-box4-2u .btn {
  font-size: 12px;
}
#msg-box4-2u .lead {
  font-size: 14px;
  text-align: right;
}





#footer1-2j P {
  color: #dddddd;
  font-size: 12px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2k .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2k .navbar-brand a {
  font-size: 13px;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2k .nav .link,
#dropdown-menu-2k .dropdown-item {
  font-size: 0.8em;
  color: #483303;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2k .navbar,
#dropdown-menu-2k .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2k .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2k .dropdown-menu a:hover,
#dropdown-menu-2k .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2k .navbar-toggler {
  color: #483303;
}
#msg-box4-3u .lead P {
  font-size: 14px;
}
#msg-box4-3u .lead {
  font-size: 16px;
  text-align: right;
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box4-3u .lead DIV {
  font-size: 14px;
  font-family: 'Alegreya Sans', sans-serif;
}








#footer1-2n P {
  color: #dddddd;
  font-size: 12px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2o .navbar-brand a {
  font-size: 13px;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2o .nav .link,
#dropdown-menu-2o .dropdown-item {
  font-size: 0.8em;
  color: #483303;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2o .navbar,
#dropdown-menu-2o .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2o .dropdown-menu a:hover,
#dropdown-menu-2o .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2o .navbar-toggler {
  color: #483303;
}
#header1-2p H1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: #000000;
}
#header1-2p P {
  font-size: 14px;
  color: #000000;
}
#msg-box4-3t .mbr-section-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  text-align: right;
}
#msg-box4-3t .lead P {
  font-size: 14px;
  text-align: right;
}
#msg-box4-3i .mbr-section-title {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 14px;
}
#msg-box4-3n .lead P {
  font-size: 14px;
}
#msg-box4-3j .mbr-section-title {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 14px;
}
#msg-box4-3k .mbr-section-title {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 14px;
}
#msg-box4-3l .lead P {
  font-size: 14px;
}
#msg-box4-3o .lead P {
  font-size: 14px;
}
